.button {
    font-weight: 700;
    line-height: 21.6px;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    padding: 6px 73.5px;
    border: 1px solid white;
    font-size: 18px;
  
  }
  
  
  .button:focus {
    outline: none;
  }
  
  .button:hover {
    text-decoration: underline;
  }
  
  button:focus-visible {
    outline: 1px solid white;
  }
  
  .button:active {
    background-color: rgba(255, 255, 255, 1);
  }