@import "reset.css";
@import "blocks/title.css";
@import "blocks/button.css";
@import "blocks/search-form.css";
@import "blocks/result.css";
@import "blocks/content.css";
@import "blocks/page.css";

/* Гит не пускает прохождение теста, ссылаясь на ошибку "styles/style.css не используйте :абсолют", 
если вынести этот класс в отдельный файл, чтобы по Бэм подключить (по аналогии со всеми остальными подключениями). 
Тесты проходятся только если пишу этот класс в style.css напрямую, без использования @import. Хотелось бы по БЭМ сделать. Почему ошибку выдает?  */
.visually-hidden {
    position:absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }